.addnote_box {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5vh 0 1vh 0;
}
.addnote_box input {
    background-color: rgba(0,0,0,0.2);
    padding: 0.5vh 3vw;
    border: none;
    border-bottom: 2px solid black;
    box-shadow: 0px 0.5vh 1vh -0.2vh black;
    font-size: 3.5vh;
    color: whitesmoke;
}
.addnote_box input:hover {
    cursor: pointer;
}
.addnote_box button {
    margin: 4vh 0;
    border: none;
    background-color: #42d897/*#E14658*/;
    box-shadow: 0px 0.6vh 0.5vh 0.25vh black;
    border-radius: 2vw;
    font-size: 4.5vh;
    padding: 2vh;
    color: #192231;
    text-shadow: 0px 0.3vh 0.5vh black;
    cursor: pointer;
    transition: 0.3s linear;
}
.addnote_box button:hover {
    text-decoration: underline;
}

.noteslist {
    display: flex;
    color: whitesmoke;
    align-items: center;
    flex-direction: column;
}
.note {
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0px 0.5vh 1vh -0.3vh black;
    border-radius: 2vw;
    margin: 2vh 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.noteDisplay{
    background-color: inherit;
    color: inherit;
    text-align: left;
    padding: 1vh 3vw;
    width: 80%;
    word-break: break-all;
    border: 0px;
    border-right: 0.25vw solid black;
    font-size: 2.5vh;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.noteDisplay:focus{
  padding:5vh;
  border-radius: 2vw;
  box-shadow: 0 0 0.5vw rgba(81, 203, 238, 1);

}
.note span:nth-child(2) {
    width: 20%;
    color: #E14658;
    cursor: pointer;
    text-shadow: 0px 0px 1vh;
    transition: 0.5s linear;
    font-size: 2vh;
}
.note span:nth-child(2):hover {
    transform: rotate(360deg);
    font-size: 4vh;
}
